@import "tailwindcss";


html, body {
  height: 100%;
  font-family: 'Nunito Variable', sans-serif;
}

.dot {
  background-image: radial-gradient(circle at 1px 1px, rgb(230, 230, 230) 1px, transparent 0);
  background-size: 15px 15px;
}

.titlebar {
    font-family: 'Lobster', system-ui;
}